<div class="d-flex flex-column min-vh-100" style="background: #0F2027; /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #2C5364, #203A43, #0F2027);">
  <!-- Encabezado -->
  <app-navbar></app-navbar>

  <!-- Contenido principal -->
  <main class="flex-grow-1">
    <!-- Aquí se cargarán los componentes según la navegación -->
    <router-outlet></router-outlet>
  </main>

  <!-- Pie de página -->
  <app-footer></app-footer>
</div>
