<!-- login.component.html -->
<div class="card-body p-5 text-center">
    <h3 class="mb-4">Iniciar Sesión</h3>

    <div class="form-outline mb-2">
        <input type="email" id="username" class="form-control form-control-lg" [(ngModel)]="username" />
        <label class="form-label" for="typeEmailX-2">Usuario (matias2)</label>
    </div>

    <div class="form-outline mb-2">
        <input type="password" id="password" class="form-control form-control-lg" [(ngModel)]="password" />
        <label class="form-label" for="typePasswordX-2">Contraseña (matias)</label>
    </div>

    <!-- Checkbox -->
    <div class="form-check d-flex justify-content-start mb-4">
        <input class="form-check-input" type="checkbox" value="" id="form1Example3" />
        <label class="form-check-label ms-2" for="form1Example3">
            Recordar contraseña
        </label>
    </div>

    <button class="btn btn-success btn-lg btn-block" (click)="login(username, password)">Iniciar</button>

    <hr class="my-4" />

    <button class="btn btn-lg btn-block btn-primary" style="background-color: #dd4b39" type="submit">
        <i class="fab fa-google me-2"></i> Iniciar sesión con Google
    </button>
    <button class="btn btn-lg btn-block btn-primary my-2" style="background-color: #3b5998" type="submit">
        <i class="fab fa-facebook-f me-2"></i>Iniciar sesión con Facebook
    </button>
</div>