<div class="container mt-5">
  <div class="row mb-4">
    <div class="col-md-6">
      <h2 class="mb-4 text-light">Textos existentes</h2>
      <ul class="list-group">
        <li class="list-group-item bg-transparent text-light" *ngFor="let exercise of exercises">
          <span *ngFor="let char of exercise.text.split('')" class="text-light">{{ char }}</span>
          <button class="btn btn-danger btn-sm float-end ms-2" (click)="deleteText(exercise._id)">Eliminar</button>
          <button class="btn btn-primary btn-sm float-end" (click)="selectText(exercise.text)">Seleccionar</button>
        </li>
      </ul>
    </div>
    <div class="col-md-6 d-flex flex-column justify-content-center align-items-center"> <!-- Agregamos clases para centrar vertical y horizontalmente -->
      <h2 class="mb-4 text-light">Ingresar nuevo texto</h2>
      <div class="col h-75 w-100"> <!-- Agregamos clase col y h-100 -->
        <textarea class="form-control mb-3 bg-transparent text-light h-100" [(ngModel)]="newTextInput"></textarea> <!-- Agregamos clase h-100 -->
      </div>
      <button class="btn btn-primary mt-4">Guardar Texto</button>
    </div>
    
  </div>
  <hr>
  <div class="row">
    <div class="col mt-4">
      <h2 class="mb-4 text-light text-center" style="font-size: 24px;">Juego de Typing</h2> <!-- Texto centrado y tamaño de fuente aumentado -->
      <div *ngIf="gameStarted" class="mb-3 text-light">
        <p style="font-size: 24px; text-align: center;"> <!-- Tamaño de fuente aumentado y texto centrado -->
          <span *ngFor="let char of currentSentence.split(''); let i = index" [style.color]="getTextColor(char, userInput[i])">{{ char }}</span>
        </p>
        <input class="form-control mb-3 bg-transparent text-light" type="text" [(ngModel)]="userInput" (input)="checkInput()">
        <p *ngIf="correct" class="text-success">{{ feedback }}</p>
        <!-- <p *ngIf="!correct && userInput !== ''" class="text-danger">{{ feedback }}</p> -->
      </div>
      <button class="btn btn-primary" (click)="startGame()" [disabled]="gameStarted">Comenzar Juego</button>
    </div>
  </div>
</div>
